
client_secret.json
data/edu_videos.csv
data/edu_videos_clean.csv
data/edu_videos_clean_tag.csv
data/edu_videos_final.csv
data/edu_videos_tag.csv
data/edu_videos_update.csv
data/old_data_final.csv
data/old_data_update.csv
data/quotes.csv
data/quotes_clean.csv
*.bmp
*.pb
*.pyc
*.mp4
*.jpg
*.wav
prova.py
data/aesthetics/dataset_aesthetic_brightness_parziale.csv
data/join_data.py
